.keyboard-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 5px;
  position: absolute;
  width: 100%;
  max-width: 3840px;
  bottom: 0;
}

.password-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
}

.text-input {
  margin: 5px;
  padding: 3px;
  width: calc(100% - 48px);
  max-width: 1960px;
}

.cursor {
  position: absolute;
  width: 2px;
  height: 1.3em;
  background-color: black;
  animation: cursor-blink 0.8s infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.visibility-icon {
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 0;
}

.keypad-row {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
}

.keypad-button {
  color: white;
  background-color: black;
  border-width: 1px;
  border-color: gray;
  font-size: 15px;
  padding: 9px;
  font-family: sans-serif;
  width: 100%;
}

.keypad-button.enterKey {
  padding-right: 25px;
}

.keypad-button.tabKey {
  padding-right: 20px;
}

.keypad-button.spaceKey {
  grid-column: span 9;
}

.keypad-button.leftArrowKey,
.keypad-button.rightArrowKey {
  grid-column: span 2;
}


/*****************************************************************************************************
  ****************************************--Numeric KeyBoard--*****************************************
  ***************************************************************************************************/
.numeric-keypad {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 240px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  transition: left 0.3s, top 0.3s;
}

.numeric-row {
  display: flex;
}

.Numer-Key {
  color: white;
  background-color: black;
  border-width: 1px;
  border-color: gray;
  font-size: 15px;
  padding: 9px;
  font-family: sans-serif;
  width: 100%;
}

.numeric-keypad-container {
  margin-top: 20px;
}