.robotmotion-container {
  display: flex;
  max-width: 3840px;
  flex-direction: row;
  width: calc(100% - 48px);
  background-color: rgb(0, 72, 47);

}

.robot-container {
  display: flex;
  flex-direction: row;
  grid-template-rows: auto auto;
  align-items: flex-end;
  width: 100%;

}

.button-container {
  display: flex;
  flex-direction: row;
  grid-template-rows: auto auto;
  width: 100%;
}

.power-button {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  max-width: 50px;
  border-color: black;
  border-width: 2px solid rgb(110, 110, 110);
}

.power-button.on {
  background-color: green;
}

.power-button.off {
  background-color: rgb(218, 17, 17);
}

.power-icon {
  font-size: 18px;
  color: white;
}

.actual-position,
.home-position,
.base-system,
.tool-system {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 12px 6px;
  border-radius: none;
  background-color: rgb(0, 72, 47);
  font-size: 15px;
  color: white;
  border: none;
}

.active{
  background-color: #1E2023;
  color: white;
}

/********************************************************************************************************
******************************************--Actual-Postion--*********************************************
********************************************************************************************************/
.position-container {
  display: flex;
  flex-direction: column;
  max-width: 3840px;
  width: calc(100% - 48px);
  padding-top: 5px;
  align-items: center;
  background-color: #1E2023;
  height: calc(100vh - 170px);
}

.coordinate-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.actual-position-coordinate {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  grid-template-columns: 1fr 1fr;
}

.home-button{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  display: grid;
}
.actual-position-button {
  font-size: 16px;
  border-style: solid;
  margin: 2px;
  padding: 6px 12px;
  border-width: 1px;
}
.actual-position-button.active{
  border-color: rgba(2, 122, 80, 0.817);
}

.coordinate-label {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 20% 90%;
}

.position-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-pos-coor {
  display: flex;
  justify-content: center;
  color: white;
}

.actual-position-data {
  min-width: 100px;
  min-height: 35px;
  background-color: #f2f2f2;
  margin: 10px;
  border: 1px solid rgb(110, 110, 110);
  font-weight: normal;
  font-size: 16px;
}

.jog-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  background-color: transparent;
  color: white;
  border-color: white;
  border-width: 1px;
}

.motion-value-container{
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.motion-speed-value{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 2px;
  padding: 6px 12px;
  background-color: #efefef;
  border: 1px solid rgb(110, 110, 110);
}

.motion-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.motion-input {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin: 0 5px;
  width: 4rem
}

.motion-input:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(43, 43, 43, 0.5);
}

/********************************************************************************************************
******************************************--Tools-Postion--**********************************************
********************************************************************************************************/

.Tool-container {
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  max-width: 3840px;
  width: calc(100% - 48px);
  height: calc(100vh - 170px);
  position: relative;
  background-color: #1E2023;
}

.Dropdown {
  padding-left: 5px;
  padding-top: 5px;
}

.dropdown-toggle{
  padding: 5px;
  background-color: white;
}

.show {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin-left: 5px;
}

.tool-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pencil-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
}

.tool-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.tool-button {
  border: none;
  background-color: white;
  flex-grow: 1;
  text-align: left;
  padding: 4px 8px;

}

.dropdown-menu-scroll {
  max-height: 180px;
  overflow-y: auto;
}

.Tool-info{
  color: white;
}

.selected-tool-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.tool-data {
  display: flex;
  flex-direction: column;
}

.tool-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.selected-tool-name {
  display: flex;
  flex-grow: 1;
  color: white;
}

.load-data {
  align-items: center;
  color: white;

}
.tool-data-container{
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}
.load-data input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: 2px solid #D2D2D2;
  border-radius: 1px;
  width: 5rem;
}

.tool-data-name {
  align-items: center;
  color: white;
  padding: 5px;
}

.tool-input-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.tool-input-data input[type="text"] {
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid #d2d2d2;
  background-color: rgb(45, 45, 45);
  font-size: 13px;
  width: 100%;
  color: white;
}