.teach-position-popup {
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #312d2d;
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    z-index: 999;
    width: 300px;
    color: white;
  }
  
  .teach-position-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .teach-position-popup-header h2 {
    margin: 0;
    font-size: 18px;
    font-family: sans-serif;
  }
  
  .teach-position-popup-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .teach-position-popup-list li {
    margin-bottom: 5px;
  }
  
  .teach-position-popup-list button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-family: sans-serif;

  }
  
  .teach-position-popup-editor {
    margin-top: 20px;
  }
  
  .teach-position-popup-editor input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .teach-position-popup-editor button {
    margin-right: 10px;
    background-color: #09711c;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif;
  }
  
  .teach-position-popup-editor button:last-child {
    background-color: #dc3545;
    font-family: sans-serif;
  }
  
  /* Additional styles to handle scrollbar in the popup list */
  .teach-position-popup-list {
    max-height: 200px;
    overflow-y: auto;
  }
  
  /* Style for the close button */
  .teach-position-popup-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-family: sans-serif;
  }
  
  .teach-position-popup-list li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  /* Style the scrollbar */
  .teach-position-popup-list::-webkit-scrollbar {
    width: 10px;
  }
  
  .teach-position-popup-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .teach-position-popup-list::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .teach-position-popup-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Additional styles to handle scrollbar in the popup list */
  .teach-position-popup-list {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

.point-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

  .point{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
    margin: 3px;

  }

  .teach-position-popup-editor .point-input {
    /* Add your desired styles here */
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    /* Add more styles as needed */
  }
  