/* teachPosition.css */

/* Styles for the popup container */
.teach-position-popup {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border: 2px solid rgba(2, 122, 80, 0.817);
  padding: 20px;
  width: 350px;
  color: white;
  z-index: 20;
}

/* Styles for the popup header */
.teach-position-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.teach-position-popup-header h2 {
  margin: 0;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
}

/* Styles for the "Close" button */
.teach-position-popup-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
  font-family: sans-serif;
}

/* Styles for the list of points */
.teach-position-popup-list {
  max-height: 200px; /* Set a maximum height for the list */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  border: 1px solid white; /* Add a white border to the list container */
  padding: 10px; 
}

.teach-position-popup-list button{
  display: flex;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding: 5px;
  font-size: 16px;
  width: 100%;
}

.teach-position-popup-list button.selected-button{
  border: 2px solid rgba(2, 122, 80, 0.817);
}

/* Styles for the editor section */
.teach-position-popup-editor {
  max-height: 200px; /* Set a maximum height for the editor */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}


/* Styles for the list of points */
.teach-position-popup-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.teach-position-popup-list li {
  padding: 0px;
  margin: 0;
}


/* Styles for the point input field */
.teach-position-popup-list input {
  width: 100%;
  padding: 5px;
  margin: 2px;
  height: 30px;
  background: transparent;
  border: none;
  color: white;
}

.teach-position-popup-list hr{
  margin: 5px;
}

/* Styles for the editor section */
.teach-position-popup-editor {
  margin-top: 10px;
}

/* Styles for the point container */
.point-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-popup-container{
  display: flex;
  justify-content: space-evenly;
}

/* Styles for each point */
.point {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: sans-serif;
  margin: 3px;
  color: white;
}

/* Styles for the point input field in the editor */
.teach-position-popup-editor .point-input {
  padding: 5px;
  margin: 0;
  border: 1px solid #ccc;
  outline: none;
  height: 30px;
  background: transparent;
  color: white;
}

/* Styles for the Save and Delete buttons */
.teach-position-popup-editor button {
  margin: 5px;
  background-color: #04a722;
  color: white;
  border: none;
  border-radius: 0;
  padding: 5px 10px;
  cursor: pointer;
  font-family: sans-serif;
}
