html {
    touch-action: manipulation;
    touch-action: none;
  }
  
  body {
    touch-action: auto;
    user-select: auto;
    -ms-content-zooming: none;
    -ms-touch-action: manipulation;
    zoom: reset;
  }
  body {
    zoom: 1;
    max-zoom: 1;
    min-zoom: 1;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
  }